.App {
  text-align: left;
}

.welcomeMessage {
margin: 30px 8px;
}
/* body {
  background-color: cornflowerblue;
} */

h4 {
  text-decoration: none;
  color: #333;
}

.nav {
  margin-top: 20px;
  display: grid;
  overflow: hidden;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.nav-ul {
  position: absolute;
  list-style-type: none;
  margin: -20px 0 70px;
  padding: 0;
  width: 100%;
  background-color:#333;
}

li {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

li:hover {
  background-color: #111;
}

#siteTitle {
  float: left;
}

.projectDetails {
  margin: 40px 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.projectTitle {
  grid-column: 1/3;
  grid-row: 1;
}

.projectActions {
  grid-column: 3;
  grid-row: 1;
}

.projectIngs {
  grid-column: 1;
  grid-row: 2/4;
}

.projectFields {
  grid-column: 2/4;
  grid-row: 2;
}

.projectMethod {
  grid-column: 2/4;
  grid-row: 3;
}

.projectNotes {
  grid-column: 1/4;
  grid-row: 4;
}

.categoryContainer {
  padding: 30px 20px;
}

.category {
  display: flex;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 8px 16px;
  padding: 24px;
  text-align: top;
  width: 10rem;
  background-color: white;
}

.card h4 {
  margin: 4px 0;
  font-size: larger;
}

#cardDate {
  font-size: 12px;
}

.categoryContainer a {
  text-decoration: none;
  color:#333;
}

.cardCTA {
  text-decoration: underline;
  margin-top: 36px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.titleInput {
  margin: 4px;
}

.dateInput {
  margin: 4px;
}

#category {
  margin: 4px;
}

#categoryLabel {
  margin-top: 8px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.navNew {
  background-color: #f6ad01;
}

@media only screen and (max-width: 800px) {

.categoryContainer {
  margin-top: 48px;
}

}