.App {
  text-align: center;
}

/* .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: red;
} */

.nav {
  margin-top: 20px;
  display: grid;
}

.nav-ul {
  position: absolute;
  list-style-type: none;
  margin: -20px 0 70px;
  padding: 0;
  width: 100%;
  background-color:#333;
  
}

li {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

li:hover {
  background-color: #111;
}

#siteTitle {
  float: left;
}

.category {
  display: grid;
  padding-top: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px, 16px;
  /* width: 10%; */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}

form {
  padding: 70px 20px 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#submit {
  background-color: #333;
  color: white;
  width: 100%;
  margin-top: 8px;
  border-radius: 4px;
}

input {
  margin: 2px;
  padding: 2px;
}

.formDiv {
  display: grid;
}